// Kolory
$primary-color: #ff6f61;
$secondary-color: #4ecdc4;
$background-color: #f8f8f8;
$text-color: #333;

// Czcionki
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Odstępy
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 40px;