/* Error: Undefined variable.
 *   ,
 * 5 |     padding: $spacing-medium;
 *   |              ^^^^^^^^^^^^^^^
 *   '
 *   styles\scss\components\card.scss 5:14  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  size: 30px;
  content: "Error: Undefined variable.\a   \2577 \a 5 \2502      padding: $spacing-medium;\d\a   \2502               ^^^^^^^^^^^^^^^\a   \2575 \a   styles\\scss\\components\\card.scss 5:14  root stylesheet";
}
